<div class="modal-body">
    <!-- make this side by side, rather than vertically stacked. use col-sm-6, or m-->
    <div class="container-fluid">
        <div class="col-lg-12">
			<h4>Frequently Asked Questions</h4>
            <dl class="dl-horizontal">
                <dt>Enhancements &amp; Issues</dt>
                <dd>Contact Tiago Siebler or open an <a href="https://github.com/tiagosiebler/MSTRWebLogParser/issues" target="_blank">issue</a> on the github <a href="https://github.com/tiagosiebler/MSTRWebLogParser" target="_blank">repository</a>.
            		<span class="help-block"></span>
                </dd>
				
                <dt>Security</dt>
                <dd>Everything is client-side javascript. All processing is done in the browser, you can technically open the page in your browser and then use it while offline, or download a local copy of the <a href="https://github.com/tiagosiebler/MSTRWebLogParser" target="_blank">repository</a> for offline access. No network requests are made by the parser. 
            		<span class="help-block">The upload process parses and loads log files into your browser's memory.</span>
                </dd>
            </dl>
			
			<h4>General Usage</h4>
            <dl class="dl-horizontal">
                <dt>Parsing</dt>
                <dd>Upload multiple log file via drag-and-drop into the main upload view. You can also click to select a file to upload, or paste log messages directly into the field below the upload-box.
                    <span class="help-block"></span>
                </dd>
				
                <dt>Searching</dt>
                <dd>Click the search button to open the search view. Searches are real-time, across all log files currently in the dataset (not just the current page).
                    <span class="help-block">Clear any searches by clearing the search box.</span>
                </dd>
				
                <dt>Sorting</dt>
                <dd>Click on a column to change the sort order. The default sort order is using the LID (messages read from the log file in reverse order, with newest on top).
                    <span class="help-block"></span>
                </dd>
				
                <dt>Marking Rows</dt>
                <dd>Mark important messages with the flag button next to a row. This highlights the row for later reference.
                    <span class="help-block">In future you'll be able to filter/show only flagged rows, as well as export them from the parser .</span>
                </dd>
				
                <dt>Removing Rows</dt>
                <dd>Click the trash can to remove rows from the dataset, if those rows are deemed irrelevant. Rows are directly removed from the dataset.
                    <span class="help-block">The only way to undo this is by re-uploading the log file. Original files are never edited.</span>
                </dd>
				
                <dt>Reset</dt>
                <dd>Reset the parser by refreshing the page or clicking the reset button.
            		<span class="help-block"></span>
                </dd>
            </dl>
			<h4>Detailed Viewer</h4>
            <dl class="dl-horizontal">
				
                <dt>Inspecting</dt>
                <dd>Double-click on any row or click the eye button next to a row to open the inspection view for individual messages.
                	<span class="help-block"></span>
                </dd>
				
                <dt>Quick Navigation</dt>
                <dd>Navigate between inspected log messages using the left and right arrow keys.
            		<span class="help-block">Exit the view using the escape key.</span>
                </dd>
			</dl>
        </div>
    </div>
</div>