<div class="modal-body">
    <!-- make this side by side, rather than vertically stacked. use col-sm-6, or m-->
    <div class="container-fluid">
        <div class="col-lg-12">
			<h4>General Usage</h4>
            <dl class="dl-horizontal">
                <dt>Parsing</dt>
                <dd>Upload multiple log file via drag-and-drop into the main upload view. You can also click to select a file to upload.
                    <span class="help-block">Logs can also be pasted into the field below the upload-box.</span>
                </dd>
				
                <dt>Searching</dt>
                <dd>Click the search button to open the search view. Searches are real-time, across all log files currently in the dataset (not just the current page).
                    <span class="help-block">Clear any searches by clearing the search box.</span>
                </dd>
				
                <dt>Removing Rows</dt>
                <dd>Click the trash can to remove rows from the dataset, if those rows are deemed irrelevant. Rows are directly removed from the dataset.
                    <span class="help-block">The only way to undo this is by re-uploading the log file. Original files are never edited.</span>
                </dd>
				
                <dt>Reset</dt>
                <dd>Everything is client-side javascript. Reset the parser by refreshing the page or clicking the reset button.
            		<span class="help-block"></span>
                </dd>
            </dl>
			<h4>Detailed Viewer</h4>
            <dl class="dl-horizontal">
				
                <dt>Inspecting</dt>
                <dd>Double-click on any row to open the inspection view, or click the eye button next to a row.
                	<span class="help-block"></span>
                </dd>
				
                <dt>Quick Navigation</dt>
                <dd>Navigate between inspected log messages using the left and right arrow keys.
            		<span class="help-block">Exit the view using the escape key.</span>
                </dd>
			</dl>
        </div>
    </div>
</div>