<div class="panel panel-default" class="flipin flipout" ng-show="dataset.logs.kernel.length != 0">
  <!-- Default panel contents -->
  <div class="panel-heading clearfix">
    <b>MSTR Kernel XML API Logs - ({{dataset.logs.kernel.length - 1}} loaded) </b>
    <b ng-show="tableParams.hasFilter()">- (Filtered results: {{tableParams.total() - 1}})</b>
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-xs" ng-click="toggleResizeKernel()" ng-class="{'active': resizeKernel}"><span class="glyphicon glyphicon-resize-horizontal"></span> Resize</button>
      <button class="btn btn-default btn-xs" ng-click="showFilter = !showFilter" ng-class="{'active': showFilter}"><span class="glyphicon glyphicon-filter"></span> Search</button>
      <!--<button class="btn btn-default btn-xs" ng-click="showFilter = !showFilter"><span class="glyphicon glyphicon-plus"></span></button>-->
    </div>
  </div>
  <div class="table table-responsive logTable">
    <table ng-table="kernelLogTableParams" id="ngTableKernelLogs" class="table table-condensed logTable" show-filter="showFilter" ng-table-columns-binding="columns">
      <tr ng-if="!dataset.state.isParsing" ng-repeat="log in kernelLogTableParams.data track by log.id+log.miliseconds" ng-class="getRowClass(log)" ng-dblClick="viewKernelMessage(log)">

        <td title="'LID'" filter="{ id: 'number'}" sortable="'id'" ng-if="true" header-title="columns.LID.title" class="text-center">{{log.id}}</td>
        <td title="'Date'" filter="{ date: 'text'}" sortable="'date'" ng-if="true" class="text-center">{{log.date}}</td>
        <td title="'Time'" filter="{ time: 'text'}" sortable="'time'" ng-if="true" class="text-center">{{log.time}}</td>

        <td title="'Host'" filter="{ host: 'text'}" sortable="'host'" ng-if="true" class="text-center">{{log.host}}</td>
        <td title="'PID'" filter="{ pid: 'number'}" sortable="'pid'" ng-if="true" class="text-center">{{log.pid}}</td>
        <td title="'Thread'" filter="{ thread: 'text'}" sortable="'thread'" ng-if="true" class="text-center">{{log.thread}}</td>

        <td title="'XMLActionName'" filter="{ XMLActionName: 'text'}" sortable="'XMLActionName'" ng-if="true" class="">{{log.XMLActionName}}</td>
        <td title="'Details'" filter="{ XMLDetails: 'text'}" sortable="'XMLDetails'" ng-if="true" class="">{{log.XMLDetails}}</td>
        <td title="'XMLRaw (JSON formatted)'" filter="{ XMLRaw: 'text'}" sortable="'XMLRaw'" ng-if="true" class="">{{log.XMLRaw | limitTo: 250 }}{{log.XMLRaw.length > 250 ? '.....' : ''}}</td>
        <td title="'XMLCommand'" filter="{ XMLCommand: 'text'}" sortable="'XMLCommand'" ng-if="true" class="" header-title="columns.XMLCommand.title">{{log.XMLCommand | limitTo: 250 }}{{log.XMLCommand.length > 250 ? '.....' : ''}}</td>

        <td>
          <button class="btn btn-default btn-sm" ng-click="toggleSelection(log)" ng-class="{'active': log.isSelected}" ng-dblClick="preventAction($event)"><span class="glyphicon glyphicon-flag"></span></button>
          <button class="btn btn-default btn-sm" ng-click="viewKernelMessage(log)" ng-dblClick="preventAction($event)"><span class="glyphicon glyphicon-eye-open"></span></button>
          <button class="btn btn-danger btn-sm" ng-click="delKernel(log)" ng-dblClick="preventAction($event)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>
  </div>
</div>
