<div class="panel panel-default">
	<!-- Default panel contents -->	
	<div class="panel-heading clearfix">
		<b>Web Logs ({{data.length}} available) ({{total}}{{isFiltered}})</b>	
		<div class="btn-group pull-right">
			<button class="btn btn-default btn-xs" ng-click="showFilter = !showFilter"><span class="glyphicon glyphicon-filter"></span> Search</button>	
			<!--<button class="btn btn-default btn-xs" ng-click="showFilter = !showFilter"><span class="glyphicon glyphicon-plus"></span></button>-->
		</div>
	</div>
	<div class="table table-responsive logTable">
		<table ng-table="tableParams" class="table table-striped table-hover table-condensed logTable" show-filter="showFilter" ng-table-columns-binding="columns">
			
			<!--<tr>
				<th>Package</th>
				<th>Level</th>
				<th>MS</th>
				<th>TimeStamp</th>
				<th>Thread</th>
				<th>Class</th>
				<th>Method</th>
				<th>Message</th>
				<th>Exception</th>
				<th>Others</th>
				<th></th>
			</tr>
		log.exception.textLength
				-->
			<tr ng-repeat="log in $data track by log.id+log.miliseconds" ng-class="{info: log.level== 'MESSAGE', warning: log.level== 'SEVERE'}"
                disabledng-mousedown="mouseDown(event)"
                disabledng-mouseup  ="mouseUp(log)"
                disabledsglclick="mouseUp(log)"
                disabledng-mousemove="mouseMove(event)"
                ng-dblClick="view(log)"
                >
				
				<td title="'Package'" 		filter="{ package: 'text'}" 	sortable="'package'" 	ng-if="true">{{log.package}}</td>
				
				<td title="'Level'" 		filter="{ level: 'text'}" 		sortable="'level'"		ng-if="true">{{log.level}}</td>
				<td title="'Milliseconds'" 	filter="{ miliseconds: 'text'}" sortable="'miliseconds'" ng-if="true">{{log.miliseconds}}</td>
				<td title="'TimeStamp'" 	filter="{ timestamp: 'text'}" 	sortable="'timestamp'"	ng-if="true">{{log.timestamp}}</td>
				<td title="'Thread'"		filter="{ thread: 'text'}" 		sortable="'thread'"		ng-if="true" class="colThread">{{log.thread}}</td>
				<td title="'Class'" 		filter="{ class: 'text'}" 		sortable="'class'"		ng-if="true">{{log.class}}</td>
				<td title="'Method'" 		filter="{ method: 'text'}" 		sortable="'method'"		ng-if="true">{{log.method}}</td>
				<td title="'Message'" 		filter="{ message: 'text'}" 	sortable="'message'"	ng-if="true">{{log.message}}</td>

				<td title="'Exception'" 	filter="{ exception: 'text'}" 	sortable="'exception'"	ng-if="true" ng-init="log.limit.exception=250">
					<div class="colContents">
						{{log.exception | limitTo: log.limit.exception }}{{log.exception.length > 20 ? '.....' : ''}}
					</div>
				</td>
				<td title="'Others'" 		filter="{ others: 'text'}" 		sortable="'others'"		ng-if="true">{{log.others}}</td>
				
	            <td>
					<button class="btn btn-default btn-sm" ng-click="view(log)"><span class="glyphicon glyphicon-eye-open"></span></button>
					<button class="btn btn-danger btn-sm" ng-click="del(log)"><span class="glyphicon glyphicon-trash"></span></button>	
				</td>
			</tr>
		</table>
	</div>
</div>